﻿﻿﻿body {
	background-color: #e6ffff ;
	}
h2{
	color:#800080;
	text-align: center;
	font-family:w3-cursive;
	font-size: 40px;
	font-weight:bold;
	}
h1 {
	color:#0066cc ;
	text-align: center;
	font-family: w3-cursive;
	font-size: 20px;
	}
table, th, td {
  	border: 1px solid;
	border-collapse:separate;
	padding: 15px;
	text-align:center;
	background-color:#ffb3ff;
	margin-left:auto;
	margin-right:auto;
	}
th, td {
	border: 1px solid #000;
	text-align:center;
	background-color:#FFF8DC;
	}
h3 {
	color:#0066cc ;
	text-align: center;
	font-family: w3-cursive;
	font-size: 20px;
	}
p{
	text-align: center;
	font-family: w3-cursive;
	font-size: 20px;
	}
<img src= "bilbao.png" class= "w3-round">
li {
	list-style-type: square;
	}
img {
	margin-left:auto;
	margin-right:auto;
	border 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 500px;
	}